#include "../part/add_r.h"

ID_ADD_ICON ICON DISCARDABLE "favicon.ico"

ID_ADD_MAIN DIALOGEX 0,0,300,245
STYLE WS_OVERLAPPEDWINDOW
FONT 12,"FixedSys"
CAPTION "添加行动"
BEGIN
    CTEXT "第一回合",0,125,5,50,15,WS_CHILD|WS_VISIBLE
    RTEXT "释放技能",0,5,24,40,15,WS_CHILD|WS_VISIBLE
    EDITTEXT ID_FIRST_SKILL,50,22,220,15,WS_BORDER|WS_CHILD|WS_VISIBLE
    RTEXT "选卡",0,5,41,40,15,WS_CHILD|WS_VISIBLE
    EDITTEXT ID_FIRST_CARD,50,39,220,15,WS_BORDER|WS_CHILD|WS_VISIBLE

    CTEXT "第二回合",0,125,57,50,15,WS_CHILD|WS_VISIBLE
    RTEXT "释放技能",0,5,76,40,15,WS_CHILD|WS_VISIBLE
    EDITTEXT ID_SECOND_SKILL,50,74,220,15,WS_BORDER|WS_CHILD|WS_VISIBLE
    RTEXT "选卡",0,5,93,40,15,WS_CHILD|WS_VISIBLE
    EDITTEXT ID_SECOND_CARD,50,91,220,15,WS_BORDER|WS_CHILD|WS_VISIBLE

    CTEXT "第三回合",0,125,111,50,15,WS_CHILD|WS_VISIBLE
    RTEXT "释放技能",0,5,130,40,15,WS_CHILD|WS_VISIBLE
    EDITTEXT ID_THIRD_SKILL,50,128,220,15,WS_BORDER|WS_CHILD|WS_VISIBLE
    RTEXT "选卡",0,5,147,40,15,WS_CHILD|WS_VISIBLE
    EDITTEXT ID_THIRD_CARD,50,145,220,15,WS_BORDER|WS_CHILD|WS_VISIBLE

    CTEXT "行动名",0,5,165,40,15,WS_CHILD|WS_VISIBLE
    EDITTEXT ID_ADD_NAME,50,165,220,15,WS_BORDER|WS_CHILD|WS_VISIBLE

    PUSHBUTTON "保存",ID_ADD_BTN,125,182,50,15,BS_VCENTER|BS_CENTER
    LTEXT "注:",0,5,200,9,8,WS_CHILD|WS_VISIBLE
    LTEXT "(1)技能释放格式为：1,2,3,4#。1位共4个，为1-4，4为master；2位为第几个技能；3为技能对象（没有设0）；4位为换人技能专用，和3位联用",0,15,200,280,20,WS_CHILD|WS_VISIBLE
    LTEXT "(2)选卡格式为：1,2#。1位为卡的位置，0为随机；2位为种类，1为宝具卡，2为普通卡。",0,15,222,280,20,WS_CHILD|WS_VISIBLE
END