#include "../part/pic_r.h"

SOU_BMP_NOW BITMAP "../img/now.bmp"

DLG_MAIN DIALOGEX 0,0,480,290
STYLE WS_POPUP|WS_ICONIC
FONT 12,"FixedSys"
CAPTION "fgo截图"
BEGIN
    CONTROL "AA",ID_BMP_NOW,"Static",SS_BITMAP|WS_CHILD|WS_VISIBLE,0,0,480,271
    PUSHBUTTON "确认",ID_JIE_SURE,5,280,40,15,BS_CENTER|BS_VCENTER
    PUSHBUTTON "取消",ID_JIE_CANCEL,50,280,40,15,BS_CENTER|BS_VCENTER
END